.ProductDetail {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.ProductDetail__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60vw;
  height: 60vh;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  background-color: white;
}

.ProductDetail__text {
  display: flex;
  flex-direction: column;
}

.ProductDetail__text--info {
  display: flex;
  justify-content: space-between;
}

.ProductDetail__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ProductDetail__gallery img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;

}

.ProductDetail--cart {
  padding: 10px 30px;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all 0.35s;
  width: fit-content;
  border: unset;
  margin-top: 20px;
}

.ProductDetail--cart:hover {
  transform: scale(1.2);
}

.ProductDetail--close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: tomato;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: transform 1.35s;
}

.ProductDetail--close:hover {
  color: tomato;
  transform: scale(1.2) rotate(359deg);
}
