footer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 20px);
    background: #000;
  }
  footer .logo {
    width: 20%;
  }
  
  footer a {
    display: block;
    text-decoration: unset;
    color: #fff;
  }
  
  footer nav {
    float: right;
    width: 80%;
    text-align: right;
  }
  footer nav li {
    font-size: 12px;
    line-height: 20px;
    width: fit-content;
    float: right;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
  }
  
  footer nav ul {
    list-style: none;
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: end;
  }
  