@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
.insert-product,
.insert-categories {
  display: none;
}
.active.insert-categories,
.active.insert-product {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0px;
}
.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
label {
  width: 100%;
  color: #cb9096;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}
textarea,
input {
  width: calc(100% - 2em);
  padding: 1em;
  margin-top: 20px;
  border: none;
  border-bottom: solid #f4c7cb 5px;
}
input[type="submit"] {
  width: 100%;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
form {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2em;
}
input[type="submit"],
button {
  color: #000;
  background-color: #f4c7cb;
  background-image: none;
  border: unset;
  border-bottom: solid #cb9096 5px;
  margin-bottom: 20px;
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  background-color: #cb9096;
  border-bottom: solid #f4c7cb 5px;
}

.btn-alert {
    background-color: #ff0017;
    background-image: none;
    border: unset;
    border-bottom: solid #c80014 5px;
}

button.btn-alert:hover {
    cursor: pointer;
    background-color: #c80014;
    border-bottom: solid #ff0017 5px;
  }

.col-1 {
  width: calc(10% - 20px);
}
.col-2 {
  width: calc(20% - 20px);
}
.col-5 {
  width: calc(50% - 20px);
}
.col-6 {
  width: calc(60% - 20px);
}
.col-7 {
  width: calc(70% - 20px);
}
.col-8 {
  width: calc(80% - 20px);
}

.card {
  width: calc(33.33% - 20px);
  background-color: #ebebeb;
  text-align: center;
  border-radius: 1px;
}

.cardList {
  width: calc(100% - 20px);
  background-color: #ebebeb;
  text-align: center;
  border-radius: 1px;
  margin: 0 auto;
  align-items: center;
  margin-bottom:12px;
}
.cardList button {
  width: 100%;
  padding: 1em;
}
.cardList img {
  width: 100%;
}
.cardList button.removeCart {
  margin-bottom: 0px;
  background-color: #ffffff;
  border-bottom: solid #d5d5d5 5px;
  color: #d5d5d5;
}
.cardList p {
  margin: 0px;
  text-align: left;
}
.m-0 {
  margin: 0;
}
.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.p-2 {
  padding: 2em;
}
.card img {
  width: 100%;
  filter: brightness(0.5);
}
.hero {
  background-color: #ebebeb;
}
.hero__img {
  height: calc(100vh - 20px);
  object-fit: cover;
}

.cartContainer {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgb(255 255 255 / 43%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.cartContainer .content {
  width: 40%;
  height: 100vh;
  background: rgb(172 100 100 / 76%);
  float: right;
}
.closeCart {
  text-align: right;
  padding: 20px;
}
.closeCart a {
  color: #fff;
  font-size: 30px;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
}
.bg-secondary {
  background-color: #cb9096;
}

.bg-primary {
  background-color: #ebebeb;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
aside {
  background-color: #ebebeb;
}
ul {
  list-style: none;
  padding: 0px;
}

li {
  font-size: 12px;
  line-height: 20px;
}

/* menu */

header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
header .logo {
  width: 20%;
}

header a {
  display: block;
  text-decoration: unset;
}

header nav {
  float: right;
  width: 80%;
  text-align: right;
}
header nav li {
  font-size: 12px;
  line-height: 20px;
  width: fit-content;
  float: right;
}

header nav ul {
  list-style: none;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: end;
}

.cart svg {
  width: 25px;
  height: auto;
}

.cart-count {
  width: 20px;
  height: 20px;
  background: #cb9096;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 5px;
}

/* lettering */
h1 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}
h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.showCategories li a {
  color: #cb9096;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.showCategories li a:hover {
  color: #000;
  font-weight: bold;
}
