
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dawning+of+a+New+Day&display=swap');
.row,
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .text-right{
    text-align: right;
  }
  .col_3_3,
  .quote__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    width: 100%;
  }
  .quote__list {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
  }

  .quote__list .quote__text {
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: #000;
  }
  .quote__list .quote__text h3{
    color: #fff;
    font-family: 'Crimson Text', serif;
  }
  .quote__list .quote__text p{
    text-align: right;
    font-family: 'Dawning of a New Day', cursive;
  }

  .quote__card .quote__text {
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: #F0F0F2;
  }
  .quote__card .quote__text h3{
    color: #6F707B;
    font-family: 'Crimson Text', serif;
  }
  .quote__card .quote__text p{
    text-align: right;
    font-family: 'Dawning of a New Day', cursive;
  }
  
 
  button {
    color: #E9E9EC;
    background-color: #6F707B;
    background-image: none;
    border: unset;
    border-radius: 30px;
    margin: 5px;
    
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  button:hover {
    color: #6F707B;
    background-color: #E9E9EC;
    cursor: pointer;
  }
  