<section class="hero">
    <div class="row">
        <div class="col-5">
            <img class="hero__img" src="{{pageImage}}" alt="{{title}}" width="100%">
        </div>
        <div class="col-5">
            <h1>{{title}}</h1>
        </div>
    </div>
</section>