.Masonry { 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.Masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0; /* Some gutter */
}

.Masonry-brick:nth-child(4n+1) {
  width: 250px;
}
.Masonry-brick:nth-child(4n+1):nth-child(4n+2) {
  width: 325px;
}
.Masonry-brick:nth-child(4n+1):nth-child(4n+3) {
  width: 180px;
}
.Masonry-brick:nth-child(4n+1):nth-child(4n+4) {
  width: 380px;
}

.masonry-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.masonry-brick--h {
  flex: auto;
  height: 250px;
  min-width: 150px;
}

.masonry-brick {
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 8px 8px;
  background-color: #333;
  color: white;
  position: relative;
}