.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

button{
    color: #000;
    background-color: #f4c7cb;
    background-image: none;
    border: unset;
    border-bottom: solid #cb9096 5px;
    margin-bottom: 20px;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: #cb9096;
    border-bottom: solid #f4c7cb 5px;
}
.col-5{
    width: calc(50% - 20px);
}

.card{
    width: calc(33.33% - 20px);
    background-color: #ebebeb;
    text-align: center;
    border-radius: 1px;
}

.card img{
    width: 100%;
    filter: brightness(0.5);
}

.hero__img {
    height: calc(100vh - 20px);
    object-fit: cover;
}


.cartContainer{
    display: none;
    width: 50vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.close {
    color: #fff;
    text-align: right;
    padding: 20px;
}