<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stile.css">
    <title> {{titolo}}</title>
</head>
<body>
   {{> header }}
    
    <div class="row">
        <div class="col-5">
            <h1> {{titolo}}</h1>
            <p>
                Sono una freelancer lavoro, principalmente in Lombardia, Veneto, Sicilia e Toscana.
            </p>
            
            <h3> Richiedi info </h3>
            <form action="login">
                <input type="text" name="username" id="username" placeholder="username">
                <button type="submit"> LOGIN </button>
            </form>
        
        </div>
        <div class="col-5">
            {{> hero }}
        </div>
   </div>
   {{> footer }}
</body>
</html>