// Colours
$primary-color: rgb(165, 180, 252);
$defaul: rgb(57, 65, 73);
$secondary-color: #ffffff;
$active-color: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
$active-color_deep: #d9e4f5;

$primary-color-alpha: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
$impression-color: #ffffff;

// Sizes
$general_margin: 0 20px;
