.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(33.33% - 30px);
  flex: 0 0 calc(33.33% - 30px);
  max-width: calc(33.33% - 30px);
  position: relative;
  width: 100%;
  margin: 15px;
}

form {
  background-color: #e9e9ec;
  padding: 1em;
  max-width: 75%;
  margin: 0 auto;
  border-radius: 30px;
}

input {
  width: 100%;
}

button {
  color: #e9e9ec;
  background-color: #6f707b;
  background-image: none;
  border: unset;
  border-radius: 30px;
  width: 100%;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
button:hover {
  color: #6f707b;
  background-color: #e9e9ec;
  cursor: pointer;
}

input {
  border-radius: 30px;
  width: calc(100% - 40px);
  padding: 9.75px 20px;
  max-width: 100%;
  border: unset;
}


.card{
  margin: 20px;
  text-align: center;
  border-radius: 12px;
  background-color: #e9e9ec;
}