@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .col_3{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
  }
  .col_7{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
    width: 100%;
  }

  button {
    color: #E9E9EC;
    background-color: #6F707B;
    background-image: none;
    border: unset;
    border-radius: 30px;
    margin: 5px;
    
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  button:hover {
    color: #6F707B;
    background-color: #E9E9EC;
    cursor: pointer;
  }