.state {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    background: #EAEAEA;
    padding: 20px;
    border-radius: 30px;
}
.status {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background: #FFFFFF;
    border-radius: 10px;
}

.done .status{
    background-color: #195759;
}