@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .prodotto{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
  }