
<form action="login">
  <input type="text" name="username" id="username" placeholder="username" />
  <input type="passwor" name="password" id="password" placeholder="password" />
  <button type="submit"> LOGIN </button>
</form>